html {
	height: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	scroll-behavior: smooth;
}


body {
	font-family:  'Arial', 'sans-serif';
	margin: 0;
	padding: 0;
  background-color: #202329;
  height: 100%;
}

img {
	vertical-align: middle;
}

hr{
	margin: 0;
}

.container{
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}

.header{
  background-color: black;
}

.header__title{
  margin: 0;
  color: #FF9800;
  font-weight: 900;
  font-size: 5.625rem;
  text-align: center;
}
.card__list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 60px 30px;
}


 